@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold.ttf');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'Roboto',  serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: azure;
}

header, footer, section, div, a, button, form, input {
  box-sizing: border-box;
}

.wrapper {
  @include container;
}

a, button {
  cursor: pointer;
  transition: color 0.3s;
}

.button {
  width: 250px;
  height: 50px;
  box-shadow: 2px 2px 2px 0px black;
  border: none;
  border-radius: 12px;
  color: white;
  text-transform: uppercase;
  background: -webkit-linear-gradient(orangered,red);
  background: -moz-linear-gradient(orangered,red);
  background: -o-linear-gradient(orangered,red);
  background: linear-gradient(orangered,red);
  -webkit-transition: background-position 1s ease-out;
  -moz-transition: background-position 1s ease-out;
  -o-transition: background-position 1s ease-out;
  transition: background-position 1s ease-out;
  &:hover, &:focus {
    background: red;
    outline: none;
  }
}

.hidden {
  display: none;
}



